body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

#subtitulo {
    font-size: 14px;
    color: #666;
}

#breedSelect {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #5089df;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6286ca;
}

#dogImageContainer {
    margin-top: 20px;
}

#dogImage {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}